body {
    text-align: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: 4s infinite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    padding: 5px;
    background-color: black;
}

label {
    font-weight: bold;
}

table,
th,
td {
    border: 3px solid black;
    border-radius: 25px;
    text-align: center;
}

td {
    background-color: whitesmoke;
}
td:hover{
    transition-duration: 0.4s;
    background-color: blue;
    color: white;
    border: 20px solid blue;
}
th {
    color: whitesmoke;
}

img {
    height: 150px;
    width: 300px;
}

.button {
    border: none;
    border-radius: 20px;
    color: white;
    /* padding: 16px 32px; */
    height: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button9 {
    background-color: white;
    color: black;
    border: 2px solid blue;
}

.button9:hover {
    background-color: red;
    color: white;
    border: 14px solid red;
}
label,input{
    background-color:black;
    color: white;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
}
label:hover{
    color: yellow;
}