body{
    background-image: url('https://images.hdqwalls.com/download/forest-tree-illustration-4k-fq-3840x2400.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    animation: myanimation 5s infinite;
}
#body2{
  background-image: url('https://images.hdqwalls.com/download/old-runes-5k-0w-5120x2880.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
}
@keyframes myanimation {
    0% {background-image:url('https://images.hdqwalls.com/download/forest-tree-illustration-4k-fq-3840x2400.jpg');}
    25%{background-image:url('https://images.hdqwalls.com/download/ocean-view-from-top-ap-3840x2400.jpg');}
    50%{background-image:url('https://images.hdqwalls.com/download/milky-way-galaxy-universe-space-4k-5q-2560x1600.jpg');}
    75%{background-image:url('https://images.hdqwalls.com/download/forest-trees-blue-tone-5k-be-3840x2400.jpg');}
    100% {background-image:url('https://images.hdqwalls.com/download/forest-tree-illustration-4k-fq-3840x2400.jpg');}
}
:root{
  --color-1:black;
  --color-2:linear-gradient(45deg,red,blue);
}
body{
  line-height: 1.5;
  font-family: sans-serif;
  background-color: black;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1170px;
  /* background-color: red; */
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.align-items-center{
  align-items: center;
}
.justify-content-between{
  justify-content: space-between ;
}
/* header */
/* .header .logo{
  background-color: pink;
}
.header .nav{
  background-color: green;
} */
.header{
  background-color: var(--color-1);
  padding: 0;
  position: relative;
}
.header .nav,.header .logo{
  padding:0 15px;
} 
.header .logo a{
  font-size: 30px;
  color: red;
  text-transform: capitalize;
}
.header .nav ul li{
  display: inline-block;
  margin-left: 40px;
}
.header .nav ul li a{
  display: block;
  text-align: center;
  font-size: 16px;
  padding: 10px 10px ;
  color: white;
  text-transform: capitalize;
  /* transition: all 0s ease-in-out; */
}
.container1,.container2{
  align-items: center;
  font-family: sans-serif;
  display:flex;
  flex-wrap: wrap;
  width: 98%;
  height: auto;
  justify-content: center;
  /* border: 1px solid rgb(233, 10, 10); */
  margin: 1%;
  padding: 0px 0px;
}
.container3{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  justify-content: center;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 12%;
  margin-left: 35%;
  margin-right: 35%;
  min-height: 300px;
  max-width: 30%;
  border-radius: 20px;
}
.heading1{
  line-height: 90px;
  font-size: 30px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading2{
  font-size: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(29, 27, 27));
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading3{
  text-transform: capitalize;
  text-decoration: none;
  color: silver;
}
.a:hover{
  color: royalblue;
}
.box{
  width:20%;
  height: 35%;
  box-sizing: border-box;
  border: 0px solid black;
  background-color: aliceblue;
  margin: 1%;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.box:hover{
  box-shadow:  0 0 25px black;
}
.image{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 300px;
}
/* .image:hover{
  
} */
.para{
  width:100% ;
  height: 125px;
  text-align: center;
  padding: 5px;
  overflow: hidden;
  font-weight: bolder;
  /* margin-bottom: 0; */
}
.header .nav ul li a:hover{
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: center;
}
.header #nav-check{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.nav-toggler{
  height: 34px;
  width: 44px;
  background-color: aliceblue;
  border-radius: 4px;
  cursor:pointer;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.nav-toggler span{
  display: block;
  height: 2px;
  width: 20px;
  background-color: var(--color-1);
  position: relative;
}
.nav-toggler span::before,.nav-toggler span::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
  left: 0;
}
.nav-toggler span::before{
  top: -6px;
}
.nav-toggler span::after{
  top: 6px;
}
@media screen and (min-width:992px){
  .header .nav ul li a:hover{
    min-width:150%;
    transform: translateX(-20px);
  }
}
@media screen and (max-width:991px){
  .nav-toggler{
    display: flex;
  }
  .header .nav ul li a.active{
    border-top:  1px solid white ;
  }
  .header .nav{
    position: absolute;
    left:0;
    top: 100%;
    width: 100%;
    background-color: var(--color-1);
    opacity: 0;
    visibility: hidden;
  }
  .header .nav ul li{
    display: block;
    margin: 0;
  }
  .header #nav-check:checked ~ .nav{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
  }
  .header #nav-check:focus ~ .nav-toggler{
    box-shadow: 0 0 15px #000000;
  }
  .header #nav-check:checked ~ .nav-toggler span{
    background-color: transparent;
  }
  .header #nav-check:checked ~ .nav-toggler span::before{
    top: 0;
    transform:rotate(45deg) ;
  }
  .header #nav-check:checked ~ .nav-toggler span::after{
    top: 0;
    transform:rotate(-45deg) ;
  }
}
@media screen and (max-width:830px) {
  .login{
      text-align: center;
      color: whitesmoke;
      text-shadow:0 0 8px rgb(255, 7, 160),0 0 10px purple ;
      max-height: 400px;
      min-width: 90%;
      position: absolute;
      margin-top: 100px;
      margin-left: 5% !important;
      background-image: linear-gradient(rgb(73, 3, 73),rgb(255, 7, 160));
      text-align: center;
      font-family: sans-serif;
      border:black 0.1px solid;
      font-size: 30px;
      border-radius: 40px;
  }
  .login1{
      text-align: center;
      color: whitesmoke;
      text-shadow:0 0 8px rgb(255, 7, 160),0 0 10px purple ;
      max-height: 550px;
      min-width: 90%;
      position: absolute;
      margin-top: 50px;
      margin-left: 5% !important;
      margin:auto;
      background-image: linear-gradient(rgb(73, 3, 73),rgb(255, 7, 160));
      text-align: center;
      font-family: sans-serif;
      border:black 0.1px solid;
      font-size: 30px;
      border-radius: 40px;
  }
  .input{
    margin-bottom:3px
  }
  .container3{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 12%;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 300px;
    max-width: 70%;
    border-radius: 20px;
  }
  .heading1{
    line-height: 90px;
    font-size: 20px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heading2{
    font-size: 20px;
    margin-top: 15px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, rgb(29, 27, 27));
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .box{
    width:45%;
    height: 400px;
    box-sizing: border-box;
    border: 0px solid black;
    background-color: aliceblue;
    margin: 1%;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
  }
  .button1{
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
} 
.buttons {
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 100px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin:auto;
  transition-duration: 0.5s;
  cursor: pointer;
}
.button1{
  font-weight: bolder;
  margin-top: 0;
  width: 60%;
  padding: 10px;
  min-height: 60px;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
}
.button2{
  font-weight: bold;
  margin-top: 5%;
  min-height: 60px;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button3{
  font-weight: bold;
  margin-top: 4%;
  height: 35px;
  background-image: linear-gradient(to bottom,purple,orangered);
  border-radius: 12px;
  color: palegoldenrod;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button1:hover{
  background-color: blue;
}
.button2:hover{
  font-weight: bolder;
  width: 25%;
  height: 65px;
  background-color:white;
  color: black;
}
.button3:hover{
  font-weight: bolder;
  width: 25%;
  height: 40px;
  color: white;
}
.login{
  background-image: linear-gradient(rgb(94, 3, 94),rgb(255, 123, 0));
  color: whitesmoke;
  text-shadow:0 0 8px rgb(255, 7, 160),0 0 10px purple ;
  text-align: center;
  font-family: sans-serif;
  border:black 0.1px solid;
  padding: auto;
  font-size: 40px;
  border-radius: 40px;
  max-height: 300px;
  margin-top: 8%;
  margin-left: 35%; 
  margin-right: 35%;
}
.login1{
  background-image: linear-gradient(rgb(94, 3, 94),rgb(255, 123, 0));
  text-align: center;
  color: whitesmoke;
  text-shadow:0 0 8px rgb(255, 7, 160),0 0 10px purple ;
  font-family: sans-serif;
  border:black 0.1px solid;
  padding: auto;
  font-size: 40px;
  border-radius: 40px;
  max-height: 480px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 35%; 
  margin-right: 35%;
}
.input{
  text-align: center;
  width: 60%;
  height: 30px;
  border-radius: 40px;
  border:black 0.1px solid;
}
.input:hover{
  width: 63%;
  height: 35px;
  transition-duration: 0.5s;
}