.card {
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 0 0 25px #80807e;
    border-radius: 10px !important;
}

body,
.card {
    background-color: black;
}

.btn-secondary,
.btn-light,
.btn-warning {
    margin-top: 10px;
    border: none;
    height: 60px;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 30px !important;
}

.btn-light {
    background-color: rgb(216, 212, 216);
    color: black;
}

@media screen and (min-width:580px) and (max-width:980px) {
    .card {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (min-width:100px) and (max-width:579px) {
    .card {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.screen {
    width: 100%;
    height: 180px;
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: rgb(19, 18, 18);
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 4rem;
}

h1 {
    color: silver;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}
